{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FoodPat.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Login 1</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
</nav>
  
<!--     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'shop:product_list' %}">FoodPat</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
        <li><a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown" style="color: #FFF;">{{ request.user.name }}</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}

      </ul>
  </div>
</nav> -->
</body>
